#*
*.pprof
*.sublime-*
*~
.#*
.project
.settings
.DS_Store
/tmp
/linefile
/cmd/bleve-bench/bleve-bench
/cmd/bleve-blast/bleve-blast
/cmd/bleve-query/bleve-query
/cmd/bbrunner/bbrunner
/cmd/bbaggregate/bbaggregate
*.bleve
